body {
    caret-color: lightblue;
    color: lightblue;
    font-family: arial;
    background-color: #2c2e38;
    text-align: center;
}

iframe {
    background-color: white;
    border-radius: 10px;
}

h1 {
    text-decoration: underline 4px;
    text-align: center;
    background-color: #262533;
    border-radius: 10px;
}

a {
    color: lightblue;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}

p {
    text-align: center;
}

button {
    cursor: pointer;
    border: none;
    color: lightblue;
    background-color: #363459;
}

#code {
    color: lightblue;
    resize: none;
    background-color: #272636;
    tab-size: 5;
    font-family: arial;
    border: solid 4px #363459;
    border-radius: 10px;
    text-align: center;
}

#code:focus {
    outline: none;
}

#container {
    display: grid;
}
